<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enzo.dga.governance.mapper.GovernanceLineageTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.enzo.dga.governance.bean.GovernanceLineageTable">
        <id column="id" property="id"/>
        <result column="governance_date" property="governanceDate"/>
        <result column="schema_name" property="schemaName"/>
        <result column="table_name" property="tableName"/>
        <result column="source_tables" property="sourceTables"/>
        <result column="sink_tables" property="sinkTables"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
